.m-content
  %h1 Disponibilidade de Armários

  %table#users
    %thead
      %tr
        %th Armário
        %th Preço
        %th Armário
        %th Preço
        %th Armário
        %th Preço
        %th Armário
        %th Preço
    %tbody
      -@lockers.each do |locker|
        -if (locker.code[1]+locker.code[2]).to_i % 4 == 1
          %tr
        -if locker.free?
          %td
            %span.green
              = link_to "#{locker.code}", requirement_path(locker: locker.code, start: @time, finish: 1.week.from_now), method: :post
        -else
          %td
            %span.red
              = locker.code
        %td R$#{locker.price},00
