.m-content
  %h1 Disponibilidade de Armários

  %table#users
    %thead
      %tr
        %th Armário
        %th Disponibilidade
        %th Preço
    %tbody
      - @lockers.each do |code, occupation|
        %tr
          -if occupation == 'Livre'
            %td= link_to "#{code}", accounts_path(user: current_user.nome, locker: code, expire_date: @time), method: :post
          -else
            %td= code
          %td= occupation
