.m-content
  %h1 Recuperar Senha

  .input-wrap
    =form_tag password_resets_path :method => :post do
      = label :password_reset, :email, "Email"
      = text_field :password_reset, :email

      %br
      
      %span.red
        = flash[:caution]
      
      %br
      = submit_tag 'Mandar email'